[Unit]
Description=Run git checkpointer every 30 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=30min
Unit=git-checkpointer.service

[Install]
WantedBy=default.target